__pycache__/
*.py[cod]
*.pyo

.venv/
env/
venv/

*.log
*.sqlite3
*.db
*.pid
*.sock
tmp/
*.tmp

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

.env
.env.*.local

Dockerfile*
docker-compose*.yml

.pytest_cache/
.coverage
htmlcov/